html,body{
  width:100%;
}
.body{
  margin: 0px 0px;
  padding : 0px 0px;
}
.container{

  padding-top: 23px;
}
@media screen and (max-width: 780px) {
    .container {
width:98%;
    }
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
font-size:15px;
}
#navbar_right{
padding-top:4px;
}
.navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
      line-height: 12px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #5f35e7;
}
.col-sm-4{
  padding: 0px;

}
.slide{
  height: 400px;
  background-size: cover;
  min-width: 200px;
    font-size: 21px;
    color: rgb(255, 255, 255);

}
#slide1{

  background-image:url('../img/slide1.png');
}
#slide2{
background-image: url('../img/slide2.png');

}
#slide3{
  background-image:url('../img/slide3.png');

}

#body_start{
padding-top: 9px;
}
.quote_bar{
  margin : 15px 0px 16px 0px;
  height: 47px;
  background-color:#521efb;
  color:#fff;
  padding: 16px 0px 23px 0px;
}
.heading{
  color:#5f5f5f;
  font-size:18px;
  margin: 16px 0px ;
  font-weight: 500;
}
.text{
  margin-top:0px;
  margin-bottom: 16px;
  text-align: center;
  font-size:16px;
  color : #7c7c7c;
  line-height: 25px;
}
.link{
  color : #4357ea;
}
#heading2{
  margin-top:30px;
}
.box{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(152, 152, 152);
width:calc(32.7% - 20px);
height:170px;
margin: 0px 13px;
}
.info_box{
  margin-top: 30px;

}
.box_heading{
  margin-top:30px;
  color:#5f5f5f;
  font-weight:600;
  font-size:18px;
  text-align: center;
}
.box_text{
  margin-top:20px;
  color:#5f5f5f;
  font-size:18px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .box{
width:95%;
margin-bottom:10px;

  }
  .middle-aligned{
    display:block !important;
  }
}
.icon_box{
  margin-top:70px;

}

.icon_parts{
text-align: center;
  color:#646464;
}
.icon_parts:hover{
    color:#2b6cff;
    cursor: pointer;
}
.icon_text{
  font-size:20px;
  font-weight:600;
margin-bottom:40px;
  margin-top:20px;
}

.icon_image{
  font-size:130px;

}
.footer{
padding-top: 57px;
  width:100%;
  margin-top: 30px;
  text-align: center;
  background-color: #1d1f2a;
  height:200px;
  border-top: 4px;
  border-top-style: solid;
  border-color: #5321f6;

}
.footer_quote{
  font-size:23px;
  color:#fff;
  font-style: italic;

}
.footer_quote_text{
  font-size:17px;
  color:#fff;
}
.social_buttons{
  padding: 10px;
  line-height: 95px;
}
.middle-aligned{
  display:flex;
  justify-content: center;
}
.button{
  width: 100%;
  height: 76px;
  padding-left: 20px;
  position: relative;
  font-size:15px;
  color: rgb(255, 255, 255);
cursor:pointer;
}
.button span{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 17px;
  font-family: "Arial";
  font-weight:500;
}
.icons_so{
  font-size: 42px;
  cursor:pointer;
}
#image_author {
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.294);
  background-image: url("https://scontent.fdel1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/12249998_966434990094671_8066013869498031376_n.jpg?oh=d7c4d91ec1b8f650a43fb321895ffbcb&oe=57562E5B");
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  background-size: 145%;
  background-position: center;
}
.headline_font{
  font-size: 19px;
  color: rgb(255, 255, 255);
}

.accordion{

    margin: 0px 15px;
    border-radius: 1px;


}

.panel a{
  color: #333;
}

.panel a:hover{
  text-decoration: none;
  color: #333;
}
