html,body{
  width:100%;
  font-family: 'Karla';
  overflow-x: hidden;
}
.body{
  margin: 0px 0px;
  padding : 0px 0px;
}
.container{
  padding-top: 23px;
}
@media screen and (max-width: 780px) {
  .container {
    width:98%;
  }
}
.navbar-default {
  background: rgba(0,0,0,0);
  border: none;
  font-size:15px;
}
#navbar_right{
  padding-top:4px;
}
.navbar-nav > li > a {
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 12px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #2d2c38;
  background-color: #fff ;
  border-radius : 3px;
}
.col-sm-4{
  padding: 0px;
}
.slide{
  height: 400px;
  background-size: cover;
  min-width: 200px;
  font-size: 21px;
  color: rgb(255, 255, 255);
}

#body_start{
  padding-top: 9px;
}
.quote_bar{
  z-index: 100;
  height: 53px;
  background-color: #3a4a68;
  color: #fff;
  padding: 13px 0px 23px 0px;
  box-shadow: 0px 16px 12px -11px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 16px 12px -11px rgba(0,0,0,0.21);
  -webkit-box-shadow: 0px 16px 12px -11px rgba(0,0,0,0.21);
  font-size: 16px;
  margin: 0px;
}
.heading{
  color:#5f5f5f;
  font-size:26px;
  margin: 16px 0px ;
  font-weight: 700;
  text-transform: capitalize;
}
.text{
  margin-top:0px;
  margin-bottom: 16px;
  text-align: center;
  font-size:16px;
  color : #7c7c7c;
  line-height: 25px;
}
.link{
  color : #4357ea;
}
#heading2{
  margin-top:30px;
}
.box{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(152, 152, 152);
  width: calc(32.7% - 20px);
  height: 170px;
  margin: 0px 13px;
  border-radius: 7px;
}
.info_box{
  margin-top: 30px;
}
.box_heading{
  margin-top:30px;
  color:#5f5f5f;
  font-weight:600;
  font-size:18px;
  text-align: center;
}
.box_text{
  margin-top:20px;
  color:#5f5f5f;
  font-size:18px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .box{
    width:95%;
    margin-bottom:10px;
  }
  .middle-aligned{
    display:block !important;
  }
}
.icon_box{
  margin-top:70px;
}

.icon_parts{
  text-align: center;
  color:#646464;
}
.icon_parts:hover{
  color:#2b6cff;
  cursor: pointer;
}
.icon_text{
  font-size:20px;
  font-weight:600;
  margin-bottom:40px;
  margin-top:20px;
}

.icon_image{
  font-size:130px;
}

.footer{
  border-top: 4px solid #2f87ff;
  padding-top: 57px;
  width:100%;
  margin-top: 30px;
  text-align: center;
  background-color: #2c374e;
  height:250px;
}

.footer_quote{
  font-size:23px;
  color:#fff;
  font-style: italic;
}

.footer_quote_text{
  font-size:17px;
  color:#fff;
}

.social_buttons{
  padding: 10px;
  line-height: 95px;
}

.middle-aligned{
  display:flex;
  justify-content: center;
}
.button{
  border-radius: 4px;
  width: 100%;
  height: 76px;
  padding-left: 20px;
  position: relative;
  font-size:15px;
  color: rgb(255, 255, 255);
  cursor:pointer;
  text-align: center;
}
.button span{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 17px;
  font-family: "Arial";
  font-weight:500;
}
.icons_so {
  font-size: 42px;
  cursor:pointer;
  margin: 0 auto;
  color: #505257;
}
.icon_so:hover {
  color: #2f87ff;
}
.top_icon {
  color: #f5f5f5;
  cursor:pointer;
  font-size: 24px;
}
.top_icon:hover{
  color: #494f5a;
}
#image_author {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.294);
  background-image: url("../img/profile2.jpg");
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  background-size: 211%;
  background-position: -65px;
  background-position-y: -77px;
  border-radius: 4px;
  border: 3px solid #fff;
}
.headline_font {
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 700;
}

a {
  color: #676768;
}

a:hover {
  color: #494f5a;
  text-decoration: none;
}
.navbar-name {
  /* color: #4885ff !important;*/
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  margin-top: -29px !important;
}
.menu{
  margin-left: 15%;
}
.margin-right{
  margin-top: -5px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}
.color_overlay{
  position:absolute;
  width:100%;
  height:520px;
  background: rgba(52, 109, 245, 0.2);
}

#blog_section{
  background: #fff;
  color: #fff;
  padding: 20px 0 60px 0;
}

.material_card{
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.blog_card{
  height: 535px;
  width: 98%;
  margin: 17px auto;
  border-radius: 6px;
  color: black;
}
.tool_card{
  height: 350px;
  width: 98%;
  margin: 6px auto;
  border-radius: 6px;
  color: black;
}

.card_image{
  border-radius: 6px 6px 0px 0px;
  height: 270px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tool_image{
  border-radius: 6px 6px 0px 0px;
  height: 100px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card_title{
  text-align: center;
  margin-top: 21px;
  font-size: 21px;
  font-weight: 600;
  color: #4e4e4e;
}

.card_description{
   text-align: center;
   color: #6a6a6a;
   font-size: 16px;
   max-width: 94%;
   margin: 12px auto;
   height: 63px;
}

.read_button{
  width: 200px;
  height: 56px;
  text-align: center;
  margin: 21px auto;
  background: #2f87ff;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  padding-top: 13px;
  bottom: 2px;
  margin-top: 61px;
}
.read_button:hover{
  background: #1d75ed;
  cursor: pointer;
}
.in {
    border-color: #e7e7e7;
    background: #57aef9;
    width: 111%;
    margin-left: -30px;
    position: absolute;
    z-index: 10;
    height: 5000px;
}